blockchain/network/channel-artifacts
blockchain/network/explorer/organizations
blockchain/network/ipfs
blockchain/network/log.txt
blockchain/network/organizations/ordererOrganizations
blockchain/network/organizations/peerOrganizations
blockchain/network/trace.tar.gz
application/backend/files
application/frontend/.idea
application/frontend/node_modules