$menuText: #FFE382;
$menuActiveText: #ffe9ae;
$subMenuActiveText: #FFF78A;
$menuBg: #DE8F5F;
$menuHover: #FFB26F;
$subMenuBg: #FFCF9D;
$subMenuHover: #FFB38E;
$sideBarWidth: 210px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
